.purchase-orders-table .MuiDataGrid-root {
  background-color: var(--color-grey-50);
  border-color: var(--color-grey-200);
  --DataGrid-t-color-interactive-focus: var(--line);
}

.purchase-orders-table
  .MuiCheckbox-root:not(.Mui-checked):not(.MuiCheckbox-indeterminate)
  .MuiSvgIcon-root {
  color: var(--line);
}

.purchase-orders-table .MuiCheckbox-root.Mui-checked .MuiSvgIcon-root {
  color: var(--color-blue-300);
}

.purchase-orders-table .MuiDataGrid-columnHeaders {
  background-color: var(--color-grey-100);
}

.purchase-orders-table .MuiDataGrid-columnHeaderTitle {
  font-weight: var(--font-weight-medium) !important;
}

.purchase-orders-table .MuiDataGrid-cell {
  border-color: var(--color-grey-200);
}

.purchase-orders-table .MuiDataGrid-footerContainer {
  background-color: var(--color-grey-100);
  border-color: var(--color-grey-200);
}

.purchase-orders-table .MuiDataGrid-iconButtonContainer,
.purchase-orders-table .MuiDataGrid-sortIcon {
  display: none;
}

/***************************************
 * Dark theme overrides
 */

[data-theme='dark'] .purchase-orders-table .MuiDataGrid-root {
  background-color: var(--color-grey-700) !important;
  border-color: var(--color-grey-700) !important;
  --DataGrid-t-color-interactive-selected: var(--color-grey-600);
  --DataGrid-t-color-interactive-selected-opacity: 1;
}
[data-theme='dark'] .purchase-orders-table .MuiDataGrid-columnHeaders,
[data-theme='dark'] .purchase-orders-table .MuiDataGrid-columnHeader,
[data-theme='dark'] .purchase-orders-table .MuiDataGrid-scrollbarFiller,
[data-theme='dark'] .purchase-orders-table .MuiDataGrid-filler {
  background-color: var(--color-grey-800) !important;
  color: var(--color-palette-primary-contrast-text) !important;
  border-color: var(--line) !important;
}

[data-theme='dark']
  .purchase-orders-table
  .MuiCheckbox-root.Mui-checked
  .MuiSvgIcon-root {
  font-weight: var(--font-weight-medium) !important;
  color: var(--color-palette-primary-contrast-text) !important;
}

[data-theme='dark'] .purchase-orders-table .MuiDataGrid-cell {
  border-color: var(--color-grey-700) !important;
  color: var(--color-palette-primary-contrast-text) !important;
}

[data-theme='dark']
  .purchase-orders-table
  .MuiDataGrid-actionsCell
  .MuiSvgIcon-root {
  color: var(--color-palette-primary-contrast-text) !important;
}

[data-theme='dark'] .purchase-orders-table .MuiDataGrid-row:hover {
  background-color: var(--color-grey-600) !important;
}

[data-theme='dark'] .purchase-orders-table .MuiDataGrid-footerContainer {
  background-color: var(--color-grey-800) !important;
  border-color: var(--color-grey-700) !important;
  color: var(--color-palette-primary-contrast-text) !important;
}

[data-theme='dark'] .purchase-orders-table .MuiTablePagination-root,
[data-theme='dark'] .purchase-orders-table .MuiTablePagination-selectIcon,
[data-theme='dark']
  .purchase-orders-table
  .MuiTablePagination-actions
  .MuiIconButton-root {
  color: var(--color-palette-primary-contrast-text) !important;
}
