.purchase-order-detail-modal__label {
  font-size: var(--font-size-12) !important;
  color: var(--label-text) !important;
  margin-bottom: var(--spacing-3xs) !important;
  font-weight: var(--font-weight-medium) !important;
}

.purchase-order-detail-modal__lines {
  margin-top: var(--spacing-lg) !important;
}
