.status-badge {
  font-weight: var(--font-weight-medium);
  width: var(--space-3xl);
}

.status-badge--pending {
  background-color: var(--status-warning-100) !important;
  color: var(--status-warning-800) !important;
}

.status-badge--dispatched {
  background-color: var(--status-success-400) !important;
  color: var(--status-success-800) !important;
}

.status-badge--error {
  background-color: var(--status-error-500) !important;
  color: var(--status-error-50) !important;
}

.status-badge--processing {
  background-color: var(--color-grey-100) !important;
  color: var(--color-grey-800) !important;
}

.status-badge--partial {
  background-color: var(--status-info-600) !important;
  color: var(--status-info-200) !important;
}

.status-badge--cancelled {
  background-color: var(--status-error-300) !important;
  color: var(--status-error-50) !important;
}

.status-badge--exceeded {
  background-color: var(--status-warning-400) !important;
  color: var(--status-warning-900) !important;
}

[data-theme='dark'] .status-badge--pending {
  background-color: var(--status-warning-100) !important;
  color: var(--status-warning-800) !important;
}

[data-theme='dark'] .status-badge--dispatched {
  background-color: var(--status-success-400) !important;
  color: var(--status-success-800) !important;
}

[data-theme='dark'] .status-badge--error {
  background-color: var(--status-error-500) !important;
  color: var(--status-error-50) !important;
}

[data-theme='dark'] .status-badge--processing {
  background-color: var(--color-grey-900) !important;
  color: var(--color-grey-200) !important;
}

[data-theme='dark'] .status-badge--partial {
  background-color: var(--status-info-600) !important;
  color: var(--status-info-200) !important;
}

[data-theme='dark'] .status-badge--cancelled {
  background-color: var(--status-error-300) !important;
  color: var(--status-error-100) !important;
}

[data-theme='dark'] .status-badge--exceeded {
  background-color: var(--status-warning-600) !important;
  color: var(--status-warning-200) !important;
}
