.cuperz-breadcrumbs {
  border-bottom: 1px solid var(--line);
  background-color: var(--title-bg) !important;
}

.cuperz-breadcrumbs__link {
  color: var(--palette-text-secondary);
  text-decoration: none;
  transition: color 170ms ease;
}

.cuperz-breadcrumbs__link:hover {
  color: var(--menu-hover);
}

.MuiBreadcrumbs-separator {
  color: var(--palette-text-secondary);
}
