.data-table .MuiDataGrid-root {
  background-color: var(--table-bg);
  border-color: var(--color-grey-200);
  color: var(--body-text);
  --DataGrid-t-color-interactive-focus: var(--line);
  --DataGrid-t-color-interactive-selected-opacity: 1;
}

.data-table .MuiDataGrid-row:hover {
  background-color: var(--table-hover-bg) !important;
}

.data-table .MuiDataGrid-actionsCell .MuiSvgIcon-root {
  color: var(--body-text) !important;
}

.data-table
  .MuiCheckbox-root:not(.Mui-checked):not(.MuiCheckbox-indeterminate)
  .MuiSvgIcon-root {
  color: var(--line);
}

.data-table .MuiCheckbox-root.Mui-checked .MuiSvgIcon-root,
.data-table .MuiCheckbox-root.MuiCheckbox-indeterminate .MuiSvgIcon-root {
  color: var(--color-blue-300);
}

.data-table .MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background-color: var(--table-selected-row-bg) !important;
}

.data-table .MuiDataGrid-columnHeaders,
.data-table .MuiDataGrid-columnHeader,
.data-table .MuiDataGrid-scrollbarFiller,
.data-table .MuiDataGrid-filler {
  background-color: var(--palette-background-paper) !important;
  color: var(--body-text) !important;
  border-color: var(--line) !important;
}

.data-table .MuiDataGrid-columnHeaderTitle {
  font-weight: var(--font-weight-medium) !important;
}

.data-table .MuiDataGrid-footerContainer {
  background-color: var(--table-footer-bg) !important;
  border-color: var(--line) !important;
}

.data-table .MuiDataGrid-footerContainer .MuiTablePagination-toolbar {
  color: var(--body-text) !important;
}

.data-table .MuiTablePagination-selectIcon {
  color: var(--body-text) !important;
}

.data-table .MuiDataGrid-cell {
  border-color: var(--color-grey-200);
}

.data-table .MuiDataGrid-iconButtonContainer,
.data-table .MuiDataGrid-sortIcon {
  display: none;
}
